.codeSamples img {
    border: solid 1px darkslategrey;
}

.codeSamples {
    padding-top: 20px;
}

.codeSamples button {
    margin: 10px;
    float: right;
}

.codeSamples span {
    color: grey;
}

<<<<<<< HEAD
.panel-heading img{
    width: 3em;
}
=======
.accolades img {
    cursor: pointer;
}

>>>>>>> d087e46eb8a221da568879a58f49cc1bb450c908
