
@{
    Layout = "~/Views/Shared/_Companylayout.cshtml";
    ViewBag.Title = "CompanyProfile";
}

<section style="padding-top:200px" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Google</h2>
                    <p>Google's mission is to organize the world's information and make it universally accessible and useful.</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <h2 style="text-align: center">Open Positions</h2>
                <br>
                <h2>Back-End Developer</h2>
                        <h4>Santa Monica, CA</h4>
                <div class="col-sm-6 portfolio-item row">
                        
                        <div class="col-sm-10">
                            <h3>Required Skills:</h3>
                            <ul>
                                <li>PHP</li>
                                <li>Ruby</li>
                                <li>Java</li>
                            </ul>
                            <h3>Nice To Haves:</h3>
                            <ul>
                                <li>HTML/CSS</li>
                                <li>JavaScript/jQuery</li>
                            </ul>
                        </div>
                </div>
                <div class="col-sm-6 portfolio-item row">
                    <div>
                    <h1>Job Description:</h1>
                    <p>Design, manage, develop, test and deploy our backend environment<br>
                    Design, manage, develop, test and deploy our dev ops <br>
                    Work on other areas of our technical operation as needed, including our backend API, Web Applications, Android Application, iOS Application and Develop and contribute to our team’s software development best practices <br>
                    Collaborate with Product Management to vet new features and plan the next iteration of development </p>
                    </div>
                    <br>
                    <button class="btn btn-success btn-block">Apply</button>
                </div>
            </div>
        </div>
        <hr>

        <div class="container">
            <div class="row">
                <h2>Full-Stack Developer</h2>
                        <h4>Santa Monica, CA</h4>
                <div class="col-sm-6 portfolio-item row">
                        
                        <div class="col-sm-10">
                            <h3>Required Skills:</h3>
                            <ul>
                                <li>PHP</li>
                                <li>Ruby</li>
                                <li>Java</li>
                                <li>JavaScript/jQuery</li>
                                <li>HTML/CSS</li>
                            </ul>
                            <h3>Nice To Haves:</h3>
                            <ul>
                                <li>Sass or Less</li>
                                <li>Python</li>  
                            </ul>
                        </div>
                </div>
                <div class="col-sm-6 portfolio-item row">
                    <div>
                    <h1>Job Description:</h1>
                    <p>Design, manage, develop, test and deploy our backend environment<br>
                    Design, manage, develop, test and deploy our dev ops <br>
                    Work on other areas of our technical operation as needed, including our backend API, Web Applications, Android Application, iOS Application and Develop and contribute to our team’s software development best practices <br>
                    Collaborate with Product Management to vet new features and plan the next iteration of development </p>
                    </div>
                  <br>
                    <button class="btn btn-success btn-block">Apply</button>
                </div>
            </div>
        </div>
        <hr>

         <div class="container">
            <div class="row">
                <h2>Full-Stack Developer</h2>
                        <h4>New York, NY</h4>
                <div class="col-sm-6 portfolio-item row">
                        
                        <div class="col-sm-10">
                            <h3>Required Skills:</h3>
                            <ul>
                                <li>PHP</li>
                                <li>Ruby</li>
                                <li>Java</li>
                                <li>JavaScript/jQuery</li>
                                <li>HTML/CSS</li>
                            </ul>
                            <h3>Nice To Haves:</h3>
                            <ul>
                                <li>Sass or Less</li>
                                <li>Python</li>  
                            </ul>
                        </div>
                </div>
                <div class="col-sm-6 portfolio-item row">
                    <div>
                    <h1>Job Description:</h1>
                    <p>Design, manage, develop, test and deploy our backend environment<br>
                    Design, manage, develop, test and deploy our dev ops <br>
                    Work on other areas of our technical operation as needed, including our backend API, Web Applications, Android Application, iOS Application and Develop and contribute to our team’s software development best practices <br>
                    Collaborate with Product Management to vet new features and plan the next iteration of development </p>
                    </div>
                    <br>
                    <button class="btn btn-success btn-block">Apply</button>
                </div>
                 
            </div>
        </div>
    </section>

