
@{
    Layout = "~/Views/Shared/_SeekerLayout.cshtml";
    ViewBag.Title = "Userjobs";
}
@section Meta{
    <style>
        tr{
            cursor:pointer;
        }
    </style>
}


<div class="container">
    <div class="row">
        <h1>Forum</h1>
        <hr/>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Threads</th>
                    <th>Date Created <span class="glyphicon glyphicon-sort-by-attributes"></span></th>
                    <th>Number of Replies</th>
                </tr>
            </thead>
            <tbody>
                <tr class="danger">
                    <td><span class="glyphicon glyphicon-pushpin"></span> Rules</td>
                    <td>Please Read The Forum Rules Before Posting! <span class="glyphicon glyphicon-alert"></span></td>
                    <td>2 Years Ago</td>
                    <td>76</td>
                </tr>
                <tr class="warning">
                    <td><span class="glyphicon glyphicon-pushpin"></span> Announcements</td>
                    <td>Latest Site Update</td>
                    <td>1 Year Ago</td>
                    <td>2</td>
                </tr>
                <tr class="warning">
                    <td><span class="glyphicon glyphicon-pushpin"></span> Help!</td>
                    <td>Does anyone have experience with Liquid?</td>
                    <td>Moments Ago</td>
                    <td>5</td>
                </tr>
                <tr class="success">
                    <td><span class="glyphicon glyphicon-pushpin"></span> Jobs</td>
                    <td>Looking for Developer jobs in the mid west...</td>
                    <td>1 Week Ago</td>
                    <td>0</td>
                </tr>
                <tr class="info">
                    <td><span class="glyphicon glyphicon-pushpin"></span> What's New</td>
                    <td>Angular 4 (Megathread)! <span class="glyphicon glyphicon-fire"></span></td>
                    <td>3 Days Ago</td>
                    <td>666</td>
                </tr>
                <tr class="active">
                    <td>Getting Started</td>
                    <td>What's the best site to start learning C#?</td>
                    <td>2 Days Ago</td>
                    <td>107</td>
                </tr>
                <tr class="active">
                    <td>Courses</td>
                    <td>jQuery on Code Academy</td>
                    <td>2 Days Ago</td>
                    <td>256</td>
                </tr>
                <tr class="active">
                    <td>Interview Prep</td>
                    <td>What is business casual?</td>
                    <td>1 Week Ago</td>
                    <td>54</td>
                </tr>
                <tr class="active">
                    <td>Programmer Jokes</td>
                    <td>How do you comfort a JavaScript bug?</td>
                    <td>2 Weeks Ago</td>
                    <td>97</td>
                </tr>
                <tr class="active">
                    <td>Los Angeles</td>
                    <td>Meetup in LA</td>
                    <td>2 Months Ago</td>
                    <td>190</td>
                </tr>
                <tr class="active">
                    <td>Setups</td>
                    <td>My new setup at work <span class="glyphicon glyphicon-picture"></span></td>
                    <td>3 Months Ago</td>
                    <td>334</td>
                </tr>
                <tr class="active">
                    <td>General</td>
                    <td>Rank your languages from easiest to most difficult</td>
                    <td>4 Months Ago</td>
                    <td>188</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <p>You must be logged in to view or create new threads.</p>
        <button class="btn btn-success">Create a New Thread</button>
    </div>
</div>
