@{
    Layout = "~/Views/Shared/_SeekerLayout.cshtml";
    ViewBag.Title = "Home Page";

}
@section Meta{
    <style>
        .content {
            position: relative;
            left: 5em;
            margin-right: 10em;
        }

        .profile-picture {
            width: 15em;
        }

        .accolades {
            position: relative;
            left: -1em;
        }

        .leader-board-tab{
            padding: 0.5em;
        }

        .leader-board-item:nth-child(1){
            background-color: #aaa;
        }

        .leader-board-item{
            margin: 0.5em;
            width: 100%;
        }

        .leader-board-img{
            width: 3em;
            border-radius: 100%;
            display: inline;
        }
        .leader-board-item p{
            display: inline-block;
            margin-left: 5em;
        }
    </style>
}

<div class="content">


    <div class="col-lg-6">
        <div>
            <h3>Pedro Ramirez</h3>
            <img src="https://s3.amazonaws.com/37assets/svn/1065-IMG_2529.jpg" class="img-responsive profile-picture" alt="Profile Picture" width="300px" height="300px">
            <div class="col-sm-10 bio">
                <br>

                <div class="accolades">

                    <img src="https://www.codementor.io/assets/page_img/learn-javascript.png" width="40px" height="40px">
                    <img src="http://www.iconhot.com/icon/png/coded/512/page-php.png" width="40px" height="40px">
                    <img src="https://cdn.codementor.io/assets/tutors/c-sharp-tutors-online.png" width="40px" height="40px">
                    <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" width="40px" height="40px">
                    <img src="http://downloadicons.net/sites/default/files/sql-icon-13494.png" width="40px" height="40px">
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="header-title m-t-0">Weekly Burndown</h4>

            <canvas id="lineChart" height="300"></canvas>
        </div>
        <!-- /.graph -->
        <div class="panel panel-default">
            <div class="panel-body">
                <h2> Leader Board</h2>
                <hr />
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#this-week">This Week</a></li>
                    <li><a data-toggle="tab" href="#all-time">All Time</a></li>
                </ul>

                <div class="tab-content">
                    <div id="this-week" class="leader-board-tab tab-pane fade in active">
                        <div class="leader-board-item">
                            <img src="https://s3.amazonaws.com/37assets/svn/1065-IMG_2529.jpg" class="img-responsive leader-board-img" style="border:2px solid #FFAD21" alt="Profile Picture">
                            <p>Pedro Ramirez</p>
                            <p>471 XP</p>
                        </div>
                        <!-- /.leader-board-item -->
                        <div class="leader-board-item">
                            <img src="https://s3.amazonaws.com/37assets/svn/1065-IMG_2529.jpg" class="img-responsive leader-board-img" alt="Profile Picture">
                        </div>
                        <!-- /.leader-board-item -->

                    </div>
                    <div id="all-time" class="leader-board-tab tab-pane fade">

                    </div>
                </div>
            </div>
            <!-- /. panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/ChartJs/chart.min.js"></script>
    <script src="~/Scripts/ChartJs/jquery.chartjs.init.js"></script>
}
