@model JobBoard.Models.ViewModels.JobPostListVM
@{
    Layout = "~/Views/Shared/_SeekerLayout.cshtml";
    ViewBag.Title = "JobPostings";
}
@section Meta{
    <style>
        .content {
            position: relative;
            left: 5em;
            margin-right: 10em;
        }

        .panel{
            border-radius: 10px;
        }

        .panel-body {
            padding-top: 2em;
            min-height: 10em;
            text-align: center;
            font-weight: 300;
        }

        .panel-body .small{
            font-size: 12px;
            color: #888888;
        }

        .list-group-item {
            min-height: 3em;
        }

        .list-group-item p{
            font-size: 12px;
        }

            .list-group-item .btn-success {
                border-radius: 20px;
                position: relative;
                top: -0.5em;
            }
    </style>
}
<div class="content">
    <div class="row">
        <h2>Jobs for you</h2>
        <hr/>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="https://www.ziprecruiter.com/zrs/9927a89e/img/candidate/business.svg" />
                    <h5>Back-End Developer</h5>
                    <p class="small ">A company</p>

                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Pay: Not listed</p>
                        <p>Benefits: Not Listed</p>
                        <p>Type: Full-Time</p>
                    </li>
                    <li class="list-group-item">A fast paced high growth Fintech company in Irvine CA is looking for skilled back-end developers. If you live and breath MVC, know your way around C# and Web API then this is a great opportunity to be part of a strong team of developers. This is a full time consulting job that is on-site.</li>
                    <li class="list-group-item"><a href="#">Dismiss</a> <button class="pull-right btn btn-success 1click">1-Click Apply</button></li>
                </ul>
            </div>
            <!-- /. panel -->
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="https://www.ziprecruiter.com/zrs/9927a89e/img/candidate/business.svg" />
                    <h5>Back-End Developer</h5>
                    <p class="small ">A company</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Pay: Not listed</p>
                        <p>Benefits: Not Listed</p>
                        <p>Type: Full-Time</p>
                    </li>
                    <li class="list-group-item">A fast paced high growth Fintech company in Irvine CA is looking for skilled back-end developers. If you live and breath MVC, know your way around C# and Web API then this is a great opportunity to be part of a strong team of developers. This is a full time consulting job that is on-site.</li>
                    <li class="list-group-item"><a href="#">Dismiss</a> <button class="pull-right btn btn-success 1click">1-Click Apply</button></li>
                </ul>
            </div>
            <!-- /. panel -->
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="https://www.ziprecruiter.com/zrs/9927a89e/img/candidate/business.svg" />
                    <h5>Back-End Developer</h5>
                    <p class="small ">A company</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Pay: Not listed</p>
                        <p>Benefits: Not Listed</p>
                        <p>Type: Full-Time</p>
                    </li>
                    <li class="list-group-item">A fast paced high growth Fintech company in Irvine CA is looking for skilled back-end developers. If you live and breath MVC, know your way around C# and Web API then this is a great opportunity to be part of a strong team of developers. This is a full time consulting job that is on-site.</li>
                    <li class="list-group-item"><a href="#">Dismiss</a> <a href="/Home/CodeTest"><button class="pull-right btn btn-success">View Details</button></a></li>
                </ul>
            </div>
            <!-- /. panel -->
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="https://www.ziprecruiter.com/zrs/9927a89e/img/candidate/business.svg" />
                    <h5>Back-End Developer</h5>
                    <p class="small ">A company</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Pay: Not listed</p>
                        <p>Benefits: Not Listed</p>
                        <p>Type: Full-Time</p>
                    </li>
                    <li class="list-group-item">A fast paced high growth Fintech company in Irvine CA is looking for skilled back-end developers. If you live and breath MVC, know your way around C# and Web API then this is a great opportunity to be part of a strong team of developers. This is a full time consulting job that is on-site.</li>
                    <li class="list-group-item"><a href="#">Dismiss</a> <button class="pull-right btn btn-success 1click">1-Click Apply</button></li>
                </ul>
            </div>
            <!-- /. panel -->
        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="https://www.ziprecruiter.com/zrs/9927a89e/img/candidate/business.svg" />
                    <h5>Back-End Developer</h5>
                    <p class="small ">A company</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Pay: Not listed</p>
                        <p>Benefits: Not Listed</p>
                        <p>Type: Full-Time</p>
                    </li>
                    <li class="list-group-item">A fast paced high growth Fintech company in Irvine CA is looking for skilled back-end developers. If you live and breath MVC, know your way around C# and Web API then this is a great opportunity to be part of a strong team of developers. This is a full time consulting job that is on-site.</li>
                    <li class="list-group-item"><a href="#">Dismiss</a> <button class="pull-right btn btn-success 1click">1-Click Apply</button></li>
                </ul>
            </div>
            <!-- /. panel -->
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="https://www.ziprecruiter.com/zrs/9927a89e/img/candidate/business.svg" />
                    <h5>Back-End Developer</h5>
                    <p class="small ">A company</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Pay: Not listed</p>
                        <p>Benefits: Not Listed</p>
                        <p>Type: Full-Time</p>
                    </li>
                    <li class="list-group-item">A fast paced high growth Fintech company in Irvine CA is looking for skilled back-end developers. If you live and breath MVC, know your way around C# and Web API then this is a great opportunity to be part of a strong team of developers. This is a full time consulting job that is on-site.</li>
                    <li class="list-group-item"><a href="#">Dismiss</a> <button class="pull-right btn btn-success 1click">1-Click Apply</button></li>
                </ul>
            </div>
            <!-- /. panel -->
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="https://www.ziprecruiter.com/zrs/9927a89e/img/candidate/business.svg" />
                    <h5>Back-End Developer</h5>
                    <p class="small ">A company</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Pay: Not listed</p>
                        <p>Benefits: Not Listed</p>
                        <p>Type: Full-Time</p>
                    </li>
                    <li class="list-group-item">A fast paced high growth Fintech company in Irvine CA is looking for skilled back-end developers. If you live and breath MVC, know your way around C# and Web API then this is a great opportunity to be part of a strong team of developers. This is a full time consulting job that is on-site.</li>
                    <li class="list-group-item"><a href="#">Dismiss</a> <button class="pull-right btn btn-success 1click">1-Click Apply</button></li>
                </ul>
            </div>
            <!-- /. panel -->
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="https://www.ziprecruiter.com/zrs/9927a89e/img/candidate/business.svg" />
                    <h5>Back-End Developer</h5>
                    <p class="small ">A company</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Pay: Not listed</p>
                        <p>Benefits: Not Listed</p>
                        <p>Type: Full-Time</p>
                    </li>
                    <li class="list-group-item">A fast paced high growth Fintech company in Irvine CA is looking for skilled back-end developers. If you live and breath MVC, know your way around C# and Web API then this is a great opportunity to be part of a strong team of developers. This is a full time consulting job that is on-site.</li>
                    <li class="list-group-item"><a href="#">Dismiss</a> <button class="pull-right btn btn-success 1click">1-Click Apply</button></li>
                </ul>
            </div>
            <!-- /. panel -->
        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.row -->
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".1click").on("click", function () {
                $(this).text("Applied!");
        });
        });
    </script>
    }


