
@{
    Layout = "~/Views/Shared/_SeekerLayout.cshtml";
    ViewBag.Title = "Success";
}
@section Meta{
    <style>
        .content{
            position: relative;
            left: 5em;
            text-align: center;
        }
    </style>
    }
<div class="content">
    <h2>Application sent!</h2>
    <h4>You're blasting off at the speed of light!</h4>
    <h1><span class="fa fa-rocket fa-5x"></span></h1>

</div>


